*{
    margin: 0px;
    padding: 0px;
}
.game-btn{
    background-color: aqua;
    color:red;
    height: 25%;
    width: 100px;
    border-radius: 10px;
    font-size: 50px;
}
#box{
    height: 75vh;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#game-container{
    /* background-color: red; */
    height: 55vmin;
    width: 320px;
    flex-wrap: wrap;
    display: flex;
    gap: 1.5vmin;

}
#reset-btn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem;
}

.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color:black;
}
#win-box{

    font-size: 50px;
    text-align: center;

}
#new-game-btn{
  width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem;
}
.winner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}